.mainTitle {
  display: none;
}

.link {
  padding: 20px;
  color: rgb(48, 44, 44);
  font-weight: bold;
  font-size: x-large;
  line-height: 32px;
}

.active {
  color: rgb(36, 44, 161);
}

.wrapperNav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  min-height: 64px;
  padding-right: 24px;
  padding-left: 24px;
  color: #fff;
  background-color: #6575d1dc;
}
.nav {
  margin-bottom: 20px;
}
